.main-body{
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}

@media screen and (min-width : 1024px){
    .main-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        gap: 1rem;
    }
}
@media (max-width : 530px) {
    .main-body{
        max-width: fit-content;
        margin: 0px;
        padding: 0px;
    }
}